.rock {
    color: #ff0000;
}
.paper {
    color: #ffe100;
}
.scissors {
    color: #af3be5;
}
.lizard {
    color: #40bc57;
}
.spock {
    color: #15b2ff;
}

.lizard-background {
    background-color: #b2ffc0;
}
.scissors-background {
    background-color: #e0b3f5;
}
.paper-background {
    background-color: #fff5a7;
}
.rock-background {
    background-color: #ff9d9d;
}
.spock-background {
    background-color: #c7ecff;
}

.media {
    border: solid 2px;
    border-radius: 2px;
    padding: 2px;
    margin: 2px;
}

.last {
    width: 34%;
    margin: auto;
}

#clicky-clackitty {
    text-align: center;
}

#button-holder {
    justify-content: center;
    display: flex;
}

.pick-one {
    margin: 5px;
    text-align: center;
}

.pick-one:hover {
    cursor: pointer;
}

#info-text {
    text-align: center;
    font-weight: bold;
}

#trademark {
    color: black;
    background-color: rgb(233, 236, 239);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

#users-choice {
    text-align: center;
    font-weight: bold;
}

#result {
    text-align: center;
}

.fa-power-off {
    color: rgb(106, 13, 192);
}

/*---------------------------------------------------*/
/*------------------Media Queries--------------------*/
/*---------------------------------------------------*/

@media screen and (max-width: 768px) {

    body {
      background-color: rgb(107, 100, 100);
    }

    .last {
        width: 99%;
    }

    .white-text {
        color: white;
    }
}